
@font-face {
  font-family: 'MusticaPro';
  src: url('./assets/front/MusticaPro-SemiBold.otf');
  font-display: auto;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, MusticaPro,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
